# Gate.io API Keys
# 复制此文件为 gate_config.env 并填入你的 API 信息
# Copy this file to gate_config.env and fill in your API information
GATE_API_KEY="YOUR_API_KEY"
GATE_API_SECRET="YOUR_API_SECRET"

# PushPlus Token for Wechat notification
# Get it from http://www.pushplus.plus/
PUSHPLUS_TOKEN="YOUR_PUSHPLUS_TOKEN" 